.textfield-box {
    margin: 12px;
    border: none;
    font-size: 16px;
    line-height: 24px;
    width: 256px;
    height: 48px;
    display: inline-block;
    position: relative;
}

input {
    padding: 0px;
    position: relative;
    width: 100%;
    border: none;
    outline: none;
    background-color: rgba(0, 0, 0, 0);
    color: rgba(0, 0, 0, 0.870588);
    cursor: initial;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    font-size: inherit;
    line-height: inherit;
    font-family: inherit;
    height: 100%;
    border-bottom: 2px solid #bdbdbd;
}

.textfield-box > input:focus {
    border-bottom: 2px solid #1fbcd2;
    transition: border-bottom 0.1s ease 0.1s;
}

.textfield-box > input:disabled {
    border-bottom: 2px dotted #bdbdbd;
}

.textfield-box >input + .float {
    color: #a9a9a9;
    position: absolute;
    font-size: 16px;
    margin-top: -36px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

.textfield-box > input:focus + .float {
    color: #1fbcd2;
    position: absolute;
    font-size: 12px;
    margin-top: -64px;
    -webkit-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
